<tr>
  <td>
    <%= line_item.product.name %>
  </td>

  <td>
    <img src=<%= line_item.product.image.tiny %> />
  </td>

  <td>
    <p>
      <%= line_item.product.description %>
    </p>
  </td>

  <td>
    <%= line_item.quantity %>
  </td>
  
  <td>
    <%= humanized_money_with_symbol line_item.total_price %>
  </td>
</tr>